/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #fff;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Navigation Styles */
  nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Homepage Styles */
 body.index {
    background-image: url("https://media1.giphy.com/media/l1Kdd40otLiszFTMs/giphy.gif?ep=v1_gifs_related");
    background-size: cover;
    background-position: center;
  }
  
  /* Achievements Page Styles */
  body.index_1 {
    background-image: url("https://media1.giphy.com/media/3ohs7R2GceFRJfCKqs/giphy.gif?ep=v1_gifs_related");
    background-size: cover;
    background-position: center;
  }
  
  /* About Me Page Styles */
  body.index_2 {
    background-image: url("https://66.media.tumblr.com/99818963a48628f26e5cedb153898934/tumblr_p5977kGA9j1x6ms67o5_500.gif");
    background-size: cover;
    background-position: center;
  }
  
  /* More Page Styles */
  body.index_3 {
    background-image: url("https://media1.giphy.com/media/l1Kdd40otLiszFTMs/giphy.gif?ep=v1_gifs_related");
    background-size: cover;
    background-position: center;
  }
  
  /* Footer Styles */
  footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
  }
  
  footer p {
    font-size: 12px;
  }
  
